{% extends 'reception/base.html' %}

{% block content %}
<h2>قاعدة بيانات المقبولين</h2>

<table>
    <thead>
        <tr>
            <th>الاسم</th>
            <th>الرقم الذاتي</th>
            <th>الرقم العسكري</th>
            <th>الحالة</th>
            <th>الإجراء</th>
        </tr>
    </thead>
    <tbody>
        {% for patient in patients %}
        <tr>
            <td>{{ patient.first_name }} {{ patient.last_name }}</td>
            <td>{{ patient.national_id }}</td>
            <td>{{ patient.military_number }}</td>
            <td>{{ patient.get_status_display }}</td>
            <td>
                <a class="btn" href="{% url 'reception:patient_detail' patient.id %}">عرض</a>

                {% if patient.status == 'ACCEPTED' %}
                    <a class="btn" href="{% url 'reception:questionnaire_create' patient.id %}">
                        تعبئة الاستمارة
                    </a>
                {% endif %}
                
                {% if patient.status == 'ACCEPTED' or patient.status == 'QUESTIONNAIRE_COMPLETED' %}
                    <a class="btn btn-warning" style="background-color: #062f28; color: white; margin-right: 5px;" href="{% url 'reception:patient_print_report' patient.id %}" target="_blank">
                        طباعة البيانات
                    </a>
                {% endif %}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">لا يوجد مقبولون حاليًا.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}